html,
body,
#root {
    height: 100%;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body.using-mouse {
    :focus,
    [class$="-is-focused"] {
        outline: none;
        box-shadow: initial;
    }
}

body {
    color: #ddd;
    background-color: #222;
    @font-face {
        font-family: "Roboto Mono";
        src: url("../fonts/RobotoMono-Regular.woff2") format("woff2"),
            url("../fonts/RobotoMono-Regular.woff") format("woff");
    }
    font-family: "Roboto Mono", "Courier New", "Courier", monospace;
    height: 100%;
    display: flex;
    flex-direction: column;
}
